.idea
# Nuxt dev/build outputs
./client/.output
./client/.data
./client/.nuxt
./client/.nitro
./client/.cache
./client/dist

# Node dependencies
./client/node_modules

# Logs
./client/logs
./client/*.log

# Misc
./client/.DS_Store

# Local env files
./client/env
./client/env.*
./client/!.env.example
